.about-img-container {
	margin: 0px;
	padding: 0px;
}

.our-story-img {
	background-image: url('../images/banner1.jpg');
	background-attachment: fixed;
	width: 100%;
	height: 700px;
}

.year-title {
	font-size: 150px;
}

.circle {
	height: 25px;
	width: 25px;
	background-color: black;
	border-radius: 50%;
	display: inline-block;
}

/* .center-circle {
    margin-top: 20px;
} */

.center-circle-img {
	padding-top: 10px;
	margin: auto;
	padding-left: 38px;
}

.center-line {
	position: absolute;
	margin: auto;
	padding-left: 50px;
	stroke-dasharray: 217;
	stroke-dashoffset: 217;
}

.fadeInCustom {
	animation: dash 1s linear forwards;
	animation-delay: 0.5s;
}

@keyframes dash {
	to {
		stroke-dashoffset: 0;
	}
}

.img-right {
	text-align: right;
}

.col-left,
.col-right {
	width: 45%;
}

.col-middle {
	width: 10%;
}

.img-text {
	font-size: 30px;
	margin: auto;
}

.year-content {
	font-size: 15px;
}

.year {
	padding-left: 4.15%;
	padding-right: 4.15%;
	height: 200px;
	margin: 50px 0px;
}

.img-caption {
	font-family: lulo-clean-w01-one-bold, sans-serif;
	color: #414141;
	font-size: 54px;
	font-weight: bold;
}

.y-2019 {
	font-size: 50px;
	letter-spacing: 10px;
}

.support-text {
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 6px;
}

.default-product-content {
	visibility: hidden;
}

.black {
	opacity: 0.5;
	text-align: left;
	padding-left: 20px;
	color: white;
	background-color: black;
}

.view-products {
	margin: auto;
}

@media only screen and (max-width: 600px) {
	.our-story-img {
		height: 300px;
	}

	.img-caption {
		bottom: 370px;
		color: white;
		font-size: 30px;
	}

	.col-left,
	.col-right {
		width: 100%;
		text-align: left;
	}

	.support-text {
		font-size: 25px;
	}

	.product {
		padding: 0px 30px;
	}
}
